{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-white text-center">One Product Imformation</h1>
    <table class="table text-white">
    <tr>
   <th>รหัสลูกค้า</th><th>ชื่อ</th><th>สกุล</th><th>เบอร์</th>
        <th>เพศ</th><th>อาชีพ</th>
    </tr>

    <tr>
<td>{{ cus.cid }}</td>
    <td>{{ cus.name }}</td>
    <td>{{ cus.surname }}</td>
    <td>{{ cus.address }}</td>
    <td>{{ cus.telephon }}</td>
    <td>{{ cus.getGender }}</td>
        <td>{{ cus.carreer }}</td>
    </tr>

</table>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="cid" value="{{ cus.cid }}">
    <input type="submit" value="Confirm" class="btn btn-danger">
     <input type="reset" value="Back" class="btn btn-secondary" onclick="history.back()">
</form>

{% endblock %}