<!DOCTYPE html>

{% load static %}
{% load fontawesome_6 %}
{% fontawesome_6_static %}

<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bt523/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
<link rel="icon" href="{% static 'image/logo1.ico' %}" type="image/icon type">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>FrSport</title>

</head>
<body>

<div class="container "   >


{% include 'header.html' %}

    <div class="row1 ">
    <div class="row " >
        <div class="col-lg-3  text-white" style="   border-right:2px solid white; "  >

            {% include 'menu.html' %}
        </div>
        <div class="col-lg-9  text-success">

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible"
            role="alert">
            <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
            </div>
            {% endfor %}



        {% block content %}

            {% endblock %}

        </div>
    </div>
</div>

{% include 'footer.html' %}

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>