
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
<div class="row">
<div class="col-lg-6">


<div class="card1 mx-auto d-block" style="height: auto; max-width: 100%; margin-top: 20px">

  <img src="{% static 'image/pf3.png' %}"  alt="5 Terre" style="height:auto; max-width: 100%;  margin-bottom: -20px  ">

<span class="top1"></span>
      <span class="right1"></span>
      <span class="bottom1"></span>
      <span class="left1"></span>
</div>


    <button class="button button3" style="margin-top: 2px"><h4 class="text-white sdblack">นายกิตติพงษ์ พาบุดดา<br>
    65342310004-3 BIS3R1</h4></button>
</div>


<div class="col-lg-6">
{#<button class="button button2" style="margin-top: 20px"><h3 class="text-white sdblack">นายกิตติพงษ์ พาบุดดา#}
{#           65342310004-3 BIS3R1 <i class="fa-solid fa-graduation-cap text-warning"></i></h3></button>#}
{#    <h4 class="text-white sdblack" style="margin-top: 150px " >นายกิตติพงษ์ พาบุดดา <i class="fa-solid fa-graduation-cap text-warning"></i></h4>#}
{#      <h4 class="text-white sdblack " style="margin-top: -20px">65342310004-3 BIS3R1</h4>#}
  <br>  <br>
    <button class="button button2" style="margin-top: 20px"><h1 class="text-white sdblack">ประวัติส่วนตัว </h1></button>
    <br>
    <br>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">ชื่อเล่น : แฟรงค์</h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">วันเกิด : 8 ธันวาคม 2544</h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">อายุ : 21 ปี</h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">ที่อยู่ <i class="fa-solid fa-location-pin"></i> : 73 หมู่ 9 ต.โนนจาน</h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">อ.บัวลาย จ.นครราชสีมา</h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">กำลังศึกษาระดับ : ปริญญาตรี ปีที่ 3 </h4>

    <h4 class="text-white sdblack text-start " style="margin-left: 35px">คณะ : บริหารธุรกิจ <i class="fa-solid fa-briefcase"></i></h4>
    <h4 class="text-white sdblack text-start " style="margin-left: 35px">สาขา : เทคโนโลยีธุรกิจดิจิทัล</h4>
    <h4 class="text-white sdblack text-start " onclick="location.href='https://www.facebook.com/profile.php?id=100010114005989';" style="cursor:pointer; margin-left: 35px"><i class="fa-brands fa-facebook text-primary "></i> : Kittipong Pabudda</h4>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
</div>

</div>

</div>



{% endblock %}