{% load static %}

<div class="row2 " style="border:2px solid white;">

<div class="row ">
<div class="col-lg-1 "></div>
    <div class="col-lg-2 ">

<img class="mx-auto" src="{% static 'image/banner-n.png'  %}"   style="height:auto;width: 90%;"  >
</div>


    <div class="col-lg-7  ">
        <h1 class="sdred2 text-white my-element" style="margin-top: 30px; font-size: 70pt;height: auto;width: 100% ">Frank Sport Co., Ltd. </h1>

    </div>
    <div class="col-lg-1  ">
    </div>

    </div>
</div>
