
{% extends 'base.html' %}
{% load static %}
{% block content %}

     <button class="button button3" style="margin-top: 20px"><h1 class="text-white sdblack">บุคคลต้นแบบ</h1></button>
    <br>
    <br>

    <p></p>
    <div class="row">
      <div class="col-lg-1">
        </div>
    <div class="col-lg-8">

  <img class="img-thumbnail mx-auto" src="{% static 'image/elon.jfif' %}" alt="5 Terre" style="height: auto; width:100%; box-shadow: 8px 8px 8px rgb(249, 78, 57 ,0.5);">
   <h3 class="sdlight text-white">Elon Mask</h3>
        <h5 class="text-white text-start sblue" style="text-align: justify-all;">____ความสำเร็จและสไตล์การใช้ชีวิตของมัสก์ ทำให้เขาถูกนำไปเปรียบเทียบกับนักธุรกิจใหญ่หลายๆ คนในประวัติศาสตร์ของสหรัฐฯ
            รวมถึง สตีฟ จ็อบส์, ฮาววาร์ด ฮิวจ์ส และ เฮนรี ฟอร์ด ในปี 2564 นายมัสก์กลายเป็นบุคคลที่ร่ำรวยที่สุดในโลก มีทรัพย์สินสุทธิโดยประมาณอยู่ที่ 2.12 แสนล้านดอลลาร์สหรัฐ (นับจนถึงเดือนตุลาคม
            2565) แซงหน้านายเจฟฟ์ เบซอส ผู้ก่อตั้งบริษัท อเมซอน</h5>
    </div>
    <div class="col-lg-3">
    </div>

 </div>
<br>
        <div class="row">
    <div class="col-lg-3">
    </div>
            <div class="col-lg-8">
   <img class="img-thumbnail mx-auto " src="{% static 'image/eloncompany.png' %}" alt="5 Terre" style="height: auto; width:100%; box-shadow: -8px 8px 8px rgb(249, 78, 57 ,0.5);">

                <h5 class="text-white text-start sblue" style="text-align: justify-all; margin-top: 20px">____ความสำเร็จและสไตล์การใช้ชีวิตของมัสก์ ทำให้เขาถูกนำไปเปรียบเทียบกับนักธุรกิจใหญ่หลายๆ
                    คนในประวัติศาสตร์ของสหรัฐฯ รวมถึง สตีฟ จ็อบส์, ฮาววาร์ด ฮิวจ์ส และ เฮนรี ฟอร์ด ในปี 2564 นายมัสก์กลายเป็นบุคคลที่ร่ำรวยที่สุดในโลก มีทรัพย์สินสุทธิโดยประมาณอยู่ที่
                    2.12 แสนล้านดอลลาร์สหรัฐ (นับจนถึงเดือนตุลาคม 2565) แซงหน้านายเจฟฟ์ เบซอส ผู้ก่อตั้งบริษัท อเมซอน </h5>
    </div>
        <div class="col-lg-1">
        </div>
 </div>


{% endblock %}


