{% load static %}
 <!-- Card Header -->

              <div class="card-header ">
                  <p></p>
                 <h33 class="mb-0 sdorange" style="font-size: 2.5em">MENU <i class="fa-sharp fa-solid fa-bars"></i> </h33>

                  <hr>
              </div>
              <ul class="list-group list-group-flush ">
                  <li onclick="location.href='/';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4 class=" sdrl">หน้าหลัก <i class="fa-sharp fa-solid fa-house"></i>  </h4></li>
                 <li onclick="location.href='/ProfileApp/firstweb';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4 class="sdrl">ประวัติส่วนตัว</h4></li>
                 <li onclick="location.href='/ProfileApp/secondpage';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">ประวัติการศึกษา</h4></li>
                 <li onclick="location.href='/ProfileApp/thirdpage';" style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">สิ่งที่สนใจ</h4></li>
                  <li onclick="location.href='/ProfileApp/product';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">สินค้าที่ขาย</h4></li>
                  <li onclick="location.href='/ProfileApp/idol';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">บุคคลต้นแบบ</h4></li>
                    <li onclick="location.href='/ProfileApp/showmydata';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">mydata</h4></li>
                     <li onclick="location.href='/ProfileApp/showOurproduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">ShowProduct</h4></li>
                  <li onclick="location.href='/ProfileApp/newProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">newProduct</h4></li>
                    <li onclick="location.href='/ProfileApp/frmProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">frmProduct</h4></li>
                  <li onclick="location.href='/ProfileApp/inputProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">inputProduct</h4></li>
                    <li onclick="location.href='/ProfileApp/listProduct';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">listProduct</h4></li>
             <li onclick="location.href='/ProfileApp/pro_retriveAll';"  style="cursor:pointer;" class="list-group-item text-white  bg-transparent"><h4  class="sdrl">pro_retriveAll</h4></li>
              </ul>
