
{% extends 'base.html' %}
{% load static %}
{% block content %}

     <button class="button button3" style="margin-top: 20px"><h1 class="text-white sdblack">Product</h1></button>





<div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">
<img class="img-thumbnail mx-auto " style="margin-top: 30px; box-shadow: rgb(255,255,255,0.2) 5px 5px;" src="{% static 'image/pro1.png' %}" alt="random image">
</div>

<div class="col-lg-2">

</div>

</div>

<p></p>
<h4 class="text-white sdlight">เสื้อฟุตบอลจากลีคยอดนิยมที่สุดในโลก Premier League อังกฤษ</h4>
<h4 class="text-white sdlight">ฤดูกาล2022-23 จากทีมชั้นนำมากมาย ไม่ว่าจะเป็น</h4>
<br>

    <div class="row">
      <div class="col-lg-1">
        </div>
    <div class="col-lg-7">
  <img class="framed1 mx-auto" src="{% static 'image/liver.jpg' %}" alt="5 Terre" style="height: auto; width:100%">
    <h3 class="sdlight text-white">Liverpool FootballClub</h3>
        <h5 class="text-white text-start sblue" style="text-align: justify-all;text-shadow: 2px 2px 5px red;">.....The Red Machine แห่งแม่น้ำ Merseyside ขวัญใจเหล่าThe Kop ทั่วโลก เสื้อฤดูกาลนี้ออกเรียบเช่นเดิม
        ตามสไตล์NIKE แต่จะแฝงลวดลายกับเนื้อผ้าทำดูมีtexture มากยิ่งขึ้น </h5>
    </div>
    <div class="col-lg-4">
    </div>

 </div>
<br>
        <div class="row">
    <div class="col-lg-4">
    </div>
            <div class="col-lg-7">
  <img class="framed2 mx-auto" src="{% static 'image/manu.jpg' %}" alt="5 Terre" style="height: auto; width:100%; margin-right: 50px ">
    <h3 class="sdblue text-white ">Mancester United</h3>




                <h5 class="text-white text-start sdrl" style="text-align: justify-all">.....Red Devil แห่งเมืองMancester สำหรับเสื้อปีนี้ยังคงConceptแนวย้อนยุคเหมือนซีซั่นที่ผ่านมา
                แต่ปีนี้จะมีความพิเศษมากยิ่งขึ้นคือ คอเสื้อจะเป็นคอปกมีรูปหยักสามเหลี่ยมรอบคอ และตราสโมสรจะให้เหมือนยุดเก่ามากยิ่งขึ้น</h5>
    </div>
        <div class="col-lg-1">
        </div>
 </div>
<br>
      <div class="row">
      <div class="col-lg-1">
        </div>
    <div class="col-lg-7">
  <img class="framed1 mx-auto" src="{% static 'image/chelsea.jpg' %}" alt="5 Terre" style="height: auto; width:100%">
    <h3 class="sdlight text-white">chelsea FootballClub</h3>
        <h5 class="text-white text-start sblue">.....The Blus แห่งLondon ปีนี้ออกแบบมาเรียบๆ ตรงคอเสื้อจะมีลวดลายสิงโตน้ำเงินที่เป็นสัญลักณ์ของตราสโมสรประดับอยู่
            นอกจากนี้ตัวเสื้อยังลวดลายเพื่อเพิ่มtexture ให้กับเสื้ออีกด้วย
        </h5>
    </div>
    <div class="col-lg-4">
    </div>

 </div>
<br>
        <div class="row">
    <div class="col-lg-4">
    </div>
            <div class="col-lg-7">
  <img class="framed2 mx-auto" src="{% static 'image/arsenal.jpg' %}" alt="5 Terre" style="height: auto; width:100%; margin-right: 50px ">
    <h3 class="sdblue text-white ">Asenal FootballClub</h3>
                <h5 class="text-white text-start sdrl">.....The Gunner แห่งLondonเหนือ ปีนี้ออกโทนเก่งของพวกเขา แดง-ขาว
                แต่จะมีเพิ่มขึ้นมาคือ คอเสื้อจะเป็นคอปกและมีรูปสายฟ้าล้อมที่ปกคอเสื้อ</h5>
    </div>
        <div class="col-lg-1">
        </div>
 </div>
    <br>
      <div class="row">
      <div class="col-lg-1">
        </div>
    <div class="col-lg-7">
  <img class="framed3 mx-auto " src="{% static 'image/mancity1.jpg' %}" alt="5 Terre" style="height: auto; width:100%">
    <h3 class="sdlight text-white">Mancester City</h3>
        <h5 class="text-white text-start sblue">.....Cityzensหรือเรือใบสีฟ้า แห่งเมืองMancester สำหรับเสื้อปีนี้ออกแนวย้อนยุคโดยมีการนำเอาตราสโมสรและแบรนด์PUMAมาไว้ตรงกลาง
        นอกจากนี้ปลายแขนเสื้อและคอเสื้อยังมีแถบสีเลือดหมูกับสีขาวเพื่อตัดกับสีฟ้าของตัวเสื้อซึ่งทำออกมาได้สวยมาก</h5>
    </div>
    <div class="col-lg-4">
    </div>


 </div>
    <br>

<div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">

<img class="img-thumbnail mx-auto " style="margin-top: 30px; box-shadow: rgb(255,255,255,0.2) 5px 5px;" src="{% static 'image/all.jpg' %}" alt="random image">
    
  <h3 class="sdlight text-white">และทีมอื่นๆมากมาย</h3>
</div>

<div class="col-lg-2">

</div>
 <p></p>
 <p></p>
</div>

{% endblock %}


