
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <button class="button button3" style="margin-top: 20px"><h1 class="text-white sdblack">ประวัติการศึกษา </h1></button>
<div class="row">

<div class="col-5" >

<img class="framed " style="margin-top: 50px;height: auto; width: 100%; " src="{% static 'image/bywt.png' %}" alt="random image">



</div>

<div class="col-7" >


<br><br>
    <h4 class="sdblack text-start text-white"> อนุบาล - มัธยมต้น : โรงเรียนบัวใหญ่วิทยา</h4>
    <h4 class="sdblack text-start text-white"> ศึกษาเมื่อ : พ.ศ.2550 - พ.ศ.2559</h4>

</div>
</div>

    <div class="row">

<div class="col-5" >

<img class="framed " style="margin-top: 50px;height: auto; width: 100%;" src="{% static 'image/bytc.png' %}" alt="random image">



</div>

<div class="col-7" >


<br><br>
    <h4 class="sdblack text-start text-white"> ปวช. - ปวส. : วิทยาลัยเทคนิคบัวใหญ่</h4>
    <h4 class="sdblack text-start text-white"> ศึกษาเมื่อ : พ.ศ.2559 - พ.ศ.2560</h4>

</div>
</div>

        <div class="row">

<div class="col-5" >

<img class="framed " style="margin-top: 50px;height: auto; width: 100%;" src="{% static 'image/kkc1.png' %}" alt="random image">



</div>

<div class="col-7" >


<br><br>
    <h4 class="sdblack text-start text-white"> ปริญญาตรี : มหาวิทยาลัยเทคโนโลยีราชมงคลอีสานวิทยาเขตขอนแก่น</h4>
    <h4 class="sdblack text-start text-white"> ศึกษาเมื่อ : พ.ศ.2665 - ปัจจุบัน </h4>

</div>
</div>
    <br>

{% endblock %}