{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


    <div class="container">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8 ">
            <h1 class="text-white text-center sdlight">My Imformation</h1>
            <h3 class="text-white text-center sdred2">I'm {{ name }} {{ surname }}</h3>
            <table class="table  text-white table-hover border">
                <tr>
                    <td>name</td>
                    <td>{{ name }}</td>
                </tr>
                 <tr>
                    <td>surname</td>
                    <td>
                        {{ surname }}</td>
                </tr>
                <tr>
                    <td>gender</td>
                    <td>{{ gender }}</td>
                </tr>
                 <tr>
                    <td>status</td>
                    <td>{{ status }}</td>
                </tr>
                 <tr>
                    <td>work</td>
                    <td>{{ work }}</td>
                </tr>
                    <tr>
                    <td>education</td>
                    <td>{{ education }}</td>
                </tr>
                 <tr>
                    <td>address</td>
                    <td>{{ address }}</td>
                </tr>


                <tr>
                    <td>My Favorite</td>
                    <td>{{ favorite }}</td>
                </tr>

                <tr>
                    <td>tel</td>
                    <td>{{ tel }}</td>
                </tr>
                    <tr>
                    <td>Facebook</td>
                    <td><a class="text-white" href="https://www.facebook.com/profile.php?id=100010114005989" style="font-size: 16pt">{{ fb }}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
<h3 class="text-white text-center sdblack">Product</h3>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table  text-white table-hover border" style="width:100%">
  <tr>
    <th style="width:30%">ชื่อสินค้า</th>
    <th style="width:30%">ราคา</th>
    <th style="width:40%">รูปภาพ</th>
  </tr>
    {% for product in pro_list %}
         <tr>
             <td>{{ product.0 }}</td>
             <td>{{ product.1|floatformat:2|intcomma }} ฿</td>
            <td><img class="img img-thumbnail" src="{{ product.2 }}"></td>

         </tr>
    {% endfor %}
</table>
            </div>
            <div class="col-lg-2"></div>

        </div>
    <div class="text-center">
        <a class="btn btn-danger" href="/ProfileApp/home"><i class="text-white fa-solid fa-home"></i></a>
    </div>
    </div>


{% endblock %}