
{% extends 'base.html' %}
{% load static %}
{% block content %}

     <button class="button button3" style="margin-top: 20px"><h1 class="text-white sdblack">สิ่งที่สนใจ</h1></button>
<div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">

<img class="img-thumbnail mx-auto " style="margin-top: 30px; box-shadow: rgb(255,255,255,0.2) 5px 5px;" src="{% static 'image/c1.jpg' %}" alt="random image">

</div>

<div class="col-lg-2">

</div>

</div>

    <div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">
<p></p>
    <h3 class="sdlight text-white">1.การเขียนโค้ด <i class="fa-solid fa-code"></i></h3>
    <p class="text-white sred text-start" style="font-size: 1.7em; text-align:justify;">_____การเขียนโค้ดมีความสำคัญในโลกรอบตัวเราเพิ่มขึ้นเรื่อย ๆ แม้บางครั้งเราอาจไม่ทันสังเกตว่าภาษาโปรแกรมคอมพิวเตอร์และโค้ดมีอิทธิพลต่อชีวิตของเรามากเพียงได้ แต่โค้ดก็อยู่รอบ ๆ ตัวเราและมีส่วนสำคัญอย่างยิ่งในชีวิตประจำวัน ว่าแต่โค้ดและการโค้ดดิ้งคืออะไรกันแน่?

โค้ดดิ้ง (Coding) คือ การเขียนชุดคำสั่งหรือโปรแกรมคอมพิวเตอร์ในรูปโค้ด (Code) เพื่อให้คอมพิวเตอร์เข้าใจและทำในสิ่งที่ผู้เขียนโค้ดต้องการ หรือกล่าวง่าย ๆ คือ "โค้ดดิ้ง" เป็นการเขียนคำสั่งให้คอมพิวเตอร์ทำงานด้วยภาษาหรือรหัส (Code) ที่คอมพิวเตอร์เข้าใจ เช่น ภาษา Python <i class="fa-brands fa-python"></i>, JavaScript <i class="fa-brands fa-js"></i> และ PHP <i class="fa-brands fa-php"></i> เป็นต้น

การโค้ดดิ้ง (Coding) ช่วยให้เราสามารถสร้างซอฟต์แวร์คอมพิวเตอร์ รวมทั้งแอปพลิเคชันและเว็บไซต์ต่าง ๆ ได้ เทคโนโลยีมากมายที่เราใช้กันอยู่ในทุกวันนี้ ไม่ว่าจะเป็นโซเชียลมีเดีย แอปบนสมาร์ทโฟนและแท็บเล็ตต่างก็อาศัยโค้ดทั้งสิ้น <i class="fa-solid fa-laptop"></i></p>
</div>

<div class="col-lg-2">

</div>

</div>

    <div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">

<img class="img-thumbnail mx-auto " style="margin-top: 30px; box-shadow: rgb(255,255,255,0.2) 5px 5px;" src="{% static 'image/cr7.jpg' %}" alt="random image">

</div>

<div class="col-lg-2">

</div>

</div>


        <div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-8">
<p></p>
    <h3 class="sdlight text-white">2.ฟุตบอล <i class="fa-solid fa-futbol"></i></h3>
    <p class="text-white sred text-start" style="font-size: 1.7em; text-align:justify;">_____ฟุตบอล  (Football) ถือเป็นกีฬาที่มีคนให้ความสนใจมากที่สุด เพราะมีการจัดการแข่งขันตลอดทั้งปี <i class="fa-solid fa-medal"></i> ทั้งรายการเล็ก รายการใหญ่ ทั้งรายการในประเทศ ต่างประเทศ รวมถึงมีการจัดการแข่งขันฟุตบอลโลก ซึ่งถือได้ว่าเป็นมหกรรมการแข่งขันฟุตบอลที่แฟนบอลตั้งหน้าตั้งตารอคอยมากที่สุดที่จะได้เชียร์ทีมชาติของตัวเองลงแข่งขัน
        การเลี้ยงลูกฟุตบอลด้วยเท้า แล้วส่งต่อไปให้เพื่อนร่วมทีม จบด้วยการซัดลูกฟุตบอลให้ตุงตาข่าย นั่นหมายถึงความสำเร็จในการเล่นกีฬาฟุตบอล แม้เป็นกีฬาที่ทำแต้มยาก แต่นั่นก็ยิ่งทำให้แฟนบอลลุ้นอยู่ตลอดเวลาถือเป็นความสวยงามของกีฬาฟุตบอล <i class="fa-solid fa-ranking-star"></i></p>
</div>

<div class="col-lg-2">

</div>

</div>

{% endblock %}